obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
bin/Debug/netcoreapp1.1/xmlSerializerDemo.deps.json
bin/Debug/netcoreapp1.1/xmlSerializerDemo.dll
bin/Debug/netcoreapp1.1/xmlSerializerDemo.pdb
bin/Debug/netcoreapp1.1/xmlSerializerDemo.runtimeconfig.dev.json
bin/Debug/netcoreapp1.1/xmlSerializerDemo.runtimeconfig.json
obj/project.assets.json
obj/xmlSerializerDemo.csproj.nuget.g.props
obj/xmlSerializerDemo.csproj.nuget.g.targets
obj/Debug/netcoreapp1.1/xmlSerializerDemo.AssemblyInfo.cs
obj/Debug/netcoreapp1.1/xmlSerializerDemo.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp1.1/xmlSerializerDemo.dll
obj/Debug/netcoreapp1.1/xmlSerializerDemo.pdb
